[Unit]
Description=OpenAI_QQ

[Service]
ExecStart=/home/ubuntu/app/node-v18.14.0-linux-x64/bin/node /home/ubuntu/OpenAI_QQ/src/main.js
Restart=always
User=ubuntu
Group=ubuntu
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/ubuntu/OpenAI_QQ/src

[Install]
WantedBy=multi-user.target